[submodule "native-packages/terminal/vendor/libtsm"]
	path = native-packages/terminal/vendor/libtsm
	url = https://github.com/tritao/libtsm.git
[submodule "haxeon"]
	path = haxeon
	url = https://github.com/tritao/haxeon.git
[submodule "native-packages/noise/vendor/noise-c"]
	path = native-packages/noise/vendor/noise-c
	url = https://github.com/tritao/noise-c.git
[submodule "native-packages/oniguruma/vendor/oniguruma"]
	path = native-packages/oniguruma/vendor/oniguruma
	url = https://github.com/kkos/oniguruma.git
